* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: auto;
	font-family: 'Roboto', sans-serif;
}

.back {
	display: grid;
	grid-template-columns: repeat( 12, 1fr);
	margin: 0;
	padding: 0em;
	box-sizing: border-box;
}

.txt-info {
	grid-column: 2/12;
	padding-top: 3em;
	padding-bottom: 2em;
	display: grid;

}

.img1 {
	grid-column: 12/13;
	
	width: 20%;
	padding-bottom:  0em;
}

.txt-info img {
	width: 18%;
	margin-left: 3em;
}

hr {
	grid-column: 1/13;
	background: salmon;
	height: 1vh;
	border-color: transparent;
	align-self: center;
	margin-top: 6em;
	opacity: 0.2;

}

.txt-ref {
	grid-column:2/12;
	padding-top: 3em;
	display: grid;
}

.txt1 {
	grid-column: 1/12;
}

.x1 {
	grid-column: 12/13;
	width: 25%;
	padding-top: 0em;
}

@media only screen and (max-width: 1024px) and (orientation:portrait) {
	.img1 {
	grid-column: 12/13;
	
	width: 30%;
	padding-bottom:  0em;

}
.x1 {
	grid-column: 12/13;
	width: 35%;
	padding-top: 0em;
}
.txt-info img {
	width: 50%;
	margin-left: 2em;
}
}