---
layout: layouts/base.njk
title: Fotografia
eleventyNavigation:
  key: Fotografía
  title: Fotografia
  order: 2
---

<div class="col-12">
  <h1>Fotografía</h1>
  <p>
    La página de contacto.
  </p>
</div>