* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: auto;
	font-family: 'Roboto', sans-serif;
}

.fondo {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: repeat( 12, 1fr);

}

.letras {
	grid-column-start: 1;
  	grid-column-end: 13;
	padding-top: 0.25em;
	width: 100%;
	text-align: center;
	margin: 0;


}
.titulo {
	color: rgb(0,112,120);
	font-size: 2.8vw;
	font-weight: normal;
	animation: rubberBand;
  	animation-duration: 1.5s;
	
}
.letras img {
	height: 25vh;
	width: 90%;
}

.logo {
	grid-column: 4/12;
	width: 70%;
	padding-top: 1em;
	animation: fadeIn;
	animation-duration: 2.5s;
  	}
.logo img {
	width: 90%;
}




.tri {
	grid-column: 12/13;
	justify-content:center;
	align-self: center;
	height: auto;
	width: auto;

}

.triangulo {
	width: 0;
	height: 0;
	border-left: 30px solid #FFD100;
	border-bottom:  20px solid transparent;
	border-top:20px solid transparent;
	display: flex;
	align-self: center;

}



.logo-celgene {
	
	grid-column: 2/4;
	margin: 0em;

	align-self: center;
}

.logo-celgene img {
	width: 60%;
}

.logo-tecnofarma {
	grid-column: 11/13;
	align-self: center;
	margin-top: 0em;

}

.logo-tecnofarma img {
	width: 80%;

}

.botones {
	display: grid;
	grid-column: 2/12;
	justify-content: space-around;
	padding-bottom: 1em;
}

.botones img {
	width: 50%;
	padding: 0.5em;
}
.btns-1 {
	width: 100%;
	grid-column: 1/6;
	display: flex;

}
.btns-2 {
	width: 100%;
	grid-column: 7/12;
	display: flex;
}

@media screen and (max-width: 1024px) and (orientation:portrait) {


.terapia {
	grid-column: 2/13;

	width: 100%;
	height: auto;
	text-align: center;
	display: grid;
	grid-template-columns: repeat( 12, 1fr);
	font-size:4vw;
	color: #5A606C;
	align-self: start;
	font-weight: bold;
	padding-top: 0em;
	padding-bottom: 0;
	
}

.txt1 {
	grid-column: 1/6; 
	text-align: end;
	padding-top: 0.75em;
}

.log {
	width: 100%;
	grid-column: 6/9;
	padding-left: 0.5em;
	padding-top: 0.15em;

	
}

.txt2 {
	grid-column: 9/13;
	text-align: start;
	padding-top: 0.75em;
	margin-left: 0.5em;
}


.perfil {
	grid-column: 3/13;
	font-size:1.1em;
	line-height: 1em;
	width: 90%;
	color: #566564;
	text-align: center; 
}

sup {
	font-size:1vw;
	}


.cuadro {
   	grid-column: 3/12; 
	margin-top: 0.5em;
	align-self: center;
	animation: fadeIn;
	animation-duration: 2s;
}

.cuadro img {
	width: 90%;

}


.tri {
	grid-column: 7/8;
}

.triangulo {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right:  30px solid transparent;
	border-top:40px solid #FFD100;

}



.tria {
	grid-column: 6/7;
	grid-row-start: 5;
	text-align: end;
}

.trianguloa {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right:  30px solid transparent;
	border-bottom:40px solid #FFD100;

}
.ref {
	grid-row-start: 5;
	align-self: center;
}


}
@media (max-width: 560px) {
	.logo {
	grid-column: 3/13;
	max-width: 100%;
	
  	}
  	.logo img {
	width: 100%;
}
  	.titulo {

	color: rgb(0,112,120);
	font-size: 7vw;
	
}

.letras img {
	height: 18vh;
}

.tri {
	grid-column: 6/8;
	position: absolute;
	bottom: 2.5%;
	left: 45%;
  	
}

.triangulo {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right:  20px solid transparent;
	border-top:35px solid #FFD100;
}


.botones {
	display: grid;
	grid-column: 2/12;
	justify-content: space-around;
	padding-bottom: 1em;
	grid-row-start: 4;
	height: 8vh;
	margin-left: -2em; 
	grid-row-start: 3;
	padding-top: 2em;
}

.btns-1 img {
	width: 54%;
	height: 7.5vh;
	padding: 0.5em;
}
.btns-1 {
	width: 100%;
	grid-column: 1/12;
	display: flex;

}
.btns-2 img {
	width: 54%;
	height: 7.5vh;
	padding: 0.5em;
}
.btns-2 {
	width: 100%;
	grid-column: 1/12;
	display: flex;
}

.logo-celgene {
	
	grid-column: 2/4;
	margin: 0em;
	grid-row-start: 5;
	align-self: end;
	margin-top: 7em;

}

.logo-celgene img {
	width: 70%;

}

.logo-tecnofarma {
	grid-column: 10/13;
	align-self:end;
	margin-top: 7em;
	grid-row-start: 5;
}

.logo-tecnofarma img {
	width: 100%;

}
}
@media screen and(max-width: 420px) {

.titulo {

	color: rgb(0,112,120);
	font-size: 7vw;
	
}

.logo {
	grid-column: 2/13;
	max-width: 100%;
	
  	}

}
