* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.back {
	width: 100%;
	height: auto;

	display: grid;
	grid-template-columns: repeat( 12, 1fr);
}
.terapia {
	grid-column: 1/13;

	width: 100%;
	text-align: center;
	display: grid;
	grid-template-columns: repeat( 12, 1fr);
	font-size:2.1vw;
	color: #5A606C;
	align-self: start;
	font-weight: bold;
	padding-bottom: 0;
	animation: rubberBand;
  	animation-duration: 1.5s;
}

.txt1 {
	grid-column: 2/7; 
	text-align: end;
	padding-top: 0.5em;
}

.log {
	width: 75%;
	grid-column: 7/9;
	padding-left: 0.8em;

	
}

.txt2 {
	grid-column: 9/13;
	text-align: start;
	padding-top: 0.5em;
	margin-left: -1em;
}

.encabezado {
	max-width: 90%;
	grid-column: 2/13;
	align-self: start;
	height: auto;
	text-align: center;
	margin-bottom: 0.5em;


}

.encabezado img {
	width: 95%;


}


/*opciones */

.opciones {
	grid-column: 4/12;
	padding-left: 1em;
	margin-top: 0em;
	width: 80%;
	height: 12vh;


}

.opciones img {
	max-width: 40%;
	padding: 0em;
	margin-right: 1em;

}

/*    PAYS    */

sup {
	font-size:0.8vw;
}

.pays {
	grid-column: 2/12;
	display: flex;
	margin-right: 0em;
	margin-top: 1.5em;
	padding-left: 1em;
	animation: fadeIn;
	animation-duration: 2s;
}

.pay1 {
	width: 45%;
	display: flex;
	margin-left: 1em;
}

.pay1 img {
	max-width: 80%;
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.pay2 {
	width: 45%;
	display: flex;
	margin-left: 1em;
}

.pay2 img {
	max-width: 80%;

	margin-top: 1em;
	margin-bottom: 1em;
}

.P1 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 2.8em;
	margin-bottom: 0.25em;
}

.P3 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 2em;
	margin-bottom: 0.25em;
}

.P4 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 1em;
	margin-bottom: 0.25em;
}

.P5 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 1.5em;
	margin-bottom: 0.25em;
}




.cuadros {
	grid-column: 1/11;
	margin-top: 0.5em;
	display: flex;
	width: 95%;
	height: 50%;
	padding-left: 6em;


}

.cuadros img {
	max-width: 42%;
	height: 100%;
	margin-left: 1em;
	margin-right: 0.25em;
	
}
.P2 {
	font-size: 1.3vw;
	margin-left: 0.3em;
	margin-right: 0.5em;
	padding-top: 0.25em;
}


/* Triangulo y dem치s */
.tri {
	grid-column: 12/13;

	align-self: center;
	grid-row-start: 4;
  	grid-row-end: 5;
}

.triangulo {
	width: 0;
	height: 0;
	border-left: 30px solid #FFD100;
	border-bottom:  20px solid transparent;
	border-top:20px solid transparent;

}

.tria {
	align-self: center;
	grid-row-start: 4;
  	grid-row-end: 5;
	grid-column: 1/2;

}

.trianguloa {

	width: 0;
	height: 0;
	border-right:  30px solid #FFD100;
	border-bottom:  20px solid transparent;
	border-top:20px solid transparent;


}

.ref {
	grid-column: 11/13;
	text-align: center;
}
.ref img {
	width: 18%;
	padding: 0.15em;
}


@media only screen and (max-width: 1024px) and (orientation:landscape) {
		
	

	.terapia {
	grid-column: 1/13;

	width: 100%;
	height: auto;
	text-align: center;
	display: grid;
	grid-template-columns: repeat( 12, 1fr);
	font-size:2.5vw;
	color: #5A606C;
	align-self: start;
	font-weight: bold;
	padding-top: 0em;
	padding-bottom: 0;
}

	.txt1 {
	grid-column: 2/7; 
	text-align: end;
	padding-top: 0.75em;
}

	.log {
	width: 95%;
	grid-column: 7/9;
	padding-left: 0.8em;

	
}

	.txt2 {
	grid-column: 9/13;
	text-align: start;
	padding-top: 0.75em;
	margin-left: 0.5em;
}
	.encabezado {
	max-width: 90%;
	grid-column: 2/13;
	align-self: start;
	height: auto;
	text-align: center;


}

	.encabezado img {
	max-width: 100%;


}
/*opciones */

	.opciones {
	grid-column: 4/12;
	padding-left: 1.5em;
	margin-top: 0em;
	width: 85%;
	height: auto;


}

	.opciones img {
	max-width: 40%;
	padding: 0em;
	margin-right: 1em;

}

/*PAYS */

	sup {
	font-size:0.8vw;
}

	.pays {
	grid-column: 2/12;
	display: flex;
	height: auto;
	margin-right: 0em;
	margin-top: 0em;
	padding-left: 1em;
}

	.pay1 {
	width: 45%;
	display: flex;
	margin-left: 1em;
}

	.pay1 img {
	max-width: 100%;
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 0em;
	padding: 0.5em;
	margin: 1em;
}

	.pay2 {
	width: 45%;
	display: flex;
	margin-left: 2em;
}

	.pay2 img {
	max-width: 100%;
	margin: 1em;
	padding: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}

	.P1 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 2.8em;
	margin-bottom: 0em;
}

	.P3 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 2em;
	margin-bottom: 1em;
}

	.P4 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 1.5em;
	margin-bottom: 1em;
}

	.P5 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 2.5em;
	margin-bottom: 1em;
}



/* Cuadro */

	.cuadros {
	grid-column: 1/10;
	padding-top: 0.5em;
	display: flex;
	width: 100%;
	height: 100%;
	padding-left: 5em;


}

	.cuadros img {
	width: 8%;
	height: 70%;
	margin-left: 1em;
	margin-right: 0.25em;
	
}

	.P2 {

	font-size: 1.7vw;
	margin-left: 0.3em;
	margin-right: 0.5em;
	padding-top: 0.1em;
}


/* Triangulo y dem치s */
	.tri {
	grid-column: 12/13;

	align-self: center;
	grid-row-start: 4;
  	grid-row-end: 5;
  	margin-top: 0em;
  	padding-left: 0em;
  	padding-top: 0em;
}

	.triangulo {
	border-left: 30px solid #FFD100;
	border-bottom:  20px solid transparent;
	border-top:20px solid transparent;
	margin-left: 0em	
}

	.tria {

	align-self: center;
	grid-row-start: 4;
  	grid-row-end: 5;
	grid-column: 1/2;
	margin-top: 0em;
	padding-top: 0em;

}

	.trianguloa {
	margin-left: 0em;
	border-right:  30px solid #FFD100;
	border-bottom:  20px solid transparent;
	border-top:20px solid transparent;

}

	.ref {
	grid-column: 10/13;
	padding-top: 1em;
	padding-left: 0em;
}

	.img2 {
	width: 32%;
}


	.img3 {
	width: 32%;
}

}



@media only screen and (max-width:1024px) and (orientation:portrait) {

.terapia {
	grid-column: 1/13;

	width: 100%;
	text-align: center;
	display: grid;
	grid-template-columns: repeat( 12, 1fr);
	font-size:4vw;
	color: #5A606C;
	align-self: start;
	font-weight: bold;
	padding-top: 0em;
	padding-bottom: 0;
	padding-left: 2em;
}

	.txt1 {
	grid-column: 1/6; 
	text-align: end;
	padding-top: 0.75em;
}

	.log {
	width: 100%;
	grid-column: 6/9;
	padding-left: 0.5em;
	padding-top: 0.15em;

	
}

	.txt2 {
	grid-column: 9/13;
	text-align: start;
	padding-top: 0.75em;
	margin-left: 0.5em;
}
.encabezado {
	max-width: 95%;
	grid-column: 1/13;
	align-self: start;
	height: auto;
	text-align: center;
}

.encabezado img {
	max-width: 98%;
	padding-left: 1em;
}

.opciones {
	grid-column: 1/13;
	text-align: center;
	margin-top: 0em;
	margin-left: 0.75em;
	padding-left: 0;
	width: 96%;
	height: auto;
}


.pays {
	grid-column: 1/13;
	display: grid;
	margin-right: 0em;
	margin-top: 0em;
	padding-left: 0em;
	height: auto;
	margin-left: 1em;



}

.pay1 {
	width: 100%;
	display: flex;
	margin-left: 0;
	
}


.pay1 img {
	width: 70%;
	margin-top: 1em;


}

.pay2 {
	width: 100%;
	display: flex;

	justify-content: space-between;
}

.pay2 img {
	max-width: 70%;
	margin-top: 1em;

}

.P1 {
	font-size: 2.5vw;
	color: #2D519E;
	margin-left: 5.2em;

}

.P3 {
	font-size: 2.5vw;
	color: #2D519E;
	margin-left: 4em;

}

.P4 {
	font-size: 2.5vw;
	color: #2D519E;
	margin-left: 2.7em;

}

.P5 {
	font-size: 2.5vw;
	color: #2D519E;
	margin-left: 3.9em;

}




.cuadros {
	grid-column: 1/13;
	align-self: end;
	display: flex;
	width: 100%;
	height: auto;
	padding-left: 0;

}

.cuadros img {
	width: 10%;
	height: 5vh;
	margin-left: 0;
	padding-left: 0.25em;

}

.P2 {
	font-size: 2.5vw;
	margin-left: 0.3em;
	margin-right: 0.5em;
}

.tri {
	grid-column: 7/8;
	justify-content:center;

	grid-row-start: 6;
  	grid-row-end: 6;
  	padding-top: 2em;
}
.triangulo {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right:  40px solid transparent;
	border-top:50px solid #FFD100;
}

.tria {
	grid-column: 6/7;
	justify-content:center;
	align-self: end;
	grid-row-start: 6;
  	grid-row-end: 6;
  	padding-top: 2em;
}

.trianguloa {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right:  40px solid transparent;
	border-bottom:50px solid #FFD100;
}



.ref {
	grid-column: 10/13;
	text-align: center;
	grid-row-start: 6;
	align-self: end;

}

.ref img {
	width: 30%;
	padding: 0.15em;
}
}






@media only screen and (max-width: 825px) and (orientation:landscape) {

.pays {
	grid-column: 2/12;
	display: flex;
	margin-right: 0em;
	padding-top: 1em;
	padding-left: 1em;
}

.pay1 {
	width: 45%;
	display: flex;
	margin-left: 1em;
}

.pay1 img {
	max-width: 90%;
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.pay2 {
	width: 45%;
	display: flex;
	margin-left: 1em;
}

.pay2 img {
	max-width: 90%;

	margin-top: 1em;
	margin-bottom: 1em;
}

.P1 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 2.8em;
	margin-bottom: 0em;
}

.P3 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 2em;
	margin-bottom: 0em;
}

.P4 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 1em;
	margin-bottom: 0em;
}

.P5 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 1.5em;
	margin-bottom: 0em;
}




	.P2 {

	font-size: 1.4vw;
	margin-left: 0.3em;
	margin-right: 0.5em;
	padding-top: 0.1em;
}

/* Triangulo y dem치s */
	.tri {
  	margin-top: 0em;
  	padding-left: 0em;
  	padding-top: 5.5em;
 
}

	.triangulo {
	border-left: 25px solid #FFD100;
	border-bottom:  15px solid transparent;
	border-top:15px solid transparent;
}

	.tria {
	margin-top: 0em;
	padding-top: 5.5em;

}

	.trianguloa {
	border-right:  25px solid #FFD100;
	border-bottom:  15px solid transparent;
	border-top:15px solid transparent;

}
}


@media only screen and (max-width: 768px) and (orientation:portrait) {



.triangulo {
	border-left: 35px solid transparent;
	border-right:  35px solid transparent;
	border-top:45px solid #FFD100;
}




.trianguloa {
	border-left: 35px solid transparent;
	border-right:  35px solid transparent;
	border-bottom:45px solid #FFD100;
}




}
@media only screen and (max-width: 750px) and (orientation:landscape) {


	.tri {
	grid-column: 12/13;

	align-self: center;
	grid-row-start: 4;
  	grid-row-end: 5;
  	margin-top: 0em;
  	padding-left: 0em;
  	padding-top: 6.75em;
 
}

	.tria {

	align-self: center;
	grid-row-start: 4;
  	grid-row-end: 5;
	grid-column: 1/2;
	margin-top: 0em;
	padding-top: 6.75em;

}


}
@media only screen and (max-width: 680px) and (orientation:landscape) {



.pays {
	padding-top: 0;
}


	.P2 {

	font-size: 1.4vw;
	margin-left: 0.3em;
	margin-right: 0.5em;
	padding-top: 0.1em;
}

	.tri {
	grid-column: 12/13;

	align-self: center;
	grid-row-start: 4;
  	grid-row-end: 5;
  	margin-top: 0em;
  	padding-left: 0em;
  	padding-top: 1.25em;
 
}


	.tria {

	align-self: center;
	grid-row-start: 4;
  	grid-row-end: 5;
	grid-column: 1/2;
	margin-top: 0em;
	padding-top: 1.25em;

}



}
@media only screen and (max-width: 580px) and (orientation:landscape) {
.P1 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 3.3em;
	margin-bottom: 0em;
}

.P3 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 2.2em;
	margin-bottom: 0em;
}

.P4 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 2.2em;
	margin-bottom: 0em;
}

.P5 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 3em;
	margin-bottom: 0em;
}



}

@media only screen and (max-width: 420px) {

.cuadros {
	grid-column: 1/13;
	align-self: center;
	display: flex;
	width: 98%;
	height: auto;
	padding-left: 0.25em;
}



.P2 {
	width: 100%;
	font-size: 2.55vw;
	margin-left: 0.1em;
	margin-right: 0em;
}



.triangulo {
	border-left: 20px solid transparent;
	border-right:  20px solid transparent;
	border-top:30px solid #FFD100;
}




.trianguloa {
	border-left: 20px solid transparent;
	border-right:  20px solid transparent;
	border-bottom:30px solid #FFD100;
}

}
@media only screen and (min-width: 1366px) 
and (orientation:landscape) {


	.terapia {
	grid-column: 1/13;

	width: 100%;
	height: auto;
	text-align: center;
	display: grid;
	grid-template-columns: repeat( 12, 1fr);
	font-size:2.5vw;
	color: #5A606C;
	align-self: start;
	font-weight: bold;
	padding-top: 0em;
	padding-bottom: 0;
}

	.txt1 {
	grid-column: 2/7; 
	text-align: end;
	padding-top: 0.75em;
}

	.log {
	width: 95%;
	grid-column: 7/9;
	padding-left: 0.8em;

	
}

	.txt2 {
	grid-column: 9/13;
	text-align: start;
	padding-top: 0.75em;
	margin-left: 0.5em;
}
	.encabezado {
	max-width: 90%;
	grid-column: 2/13;
	align-self: start;
	height: 10vh;
	text-align: center;


}

	.encabezado img {
	max-width: 100%;


}
/*opciones */

	.opciones {
	grid-column: 4/12;
	padding-left: 1.5em;
	margin-top: 0em;
	width: 85%;
	height: 10vh;


}

	.opciones img {
	max-width: 40%;
	padding: 0em;
	margin-right: 1em;

}

/*PAYS */

	sup {
	font-size:0.8vw;
}

	.pays {
	grid-column: 2/12;
	display: flex;
	margin-right: 0em;
	margin-top: 1.5em;
	padding-left: 1em;
}

	.pay1 {
	width: 45%;
	display: flex;
	margin-left: 1em;
}

	.pay1 img {
	max-width: 100%;
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.5em;
	margin: 1em;
}

	.pay2 {
	width: 45%;
	display: flex;
	margin-left: 2em;
}

	.pay2 img {
	max-width: 100%;
	margin: 1em;
	padding: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}

	.P1 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 2.8em;
	margin-bottom: 1em;
}

	.P3 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 2em;
	margin-bottom: 1em;
}

	.P4 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 1.5em;
	margin-bottom: 1em;
}

	.P5 {
	font-size: 1.5vw;
	color: #2D519E;
	margin-left: 2.5em;
	margin-bottom: 1em;
}



/* Cuadro */

	.cuadros {
	grid-column: 1/11;
	padding-top: 4.5em;
	display: flex;
	width: 100%;
	height: 100%;
	padding-left: 8.5em;


}

	.cuadros img {
	width: 8%;
	height: 50%;
	margin-left: 1em;
	margin-right: 0.25em;
	
}

	.P2 {

	font-size: 1.9vw;
	margin-left: 0.3em;
	margin-right: 0.5em;
	padding-top: 0.1em;
}


/* Triangulo y dem치s */
	.tri {
	grid-column: 12/13;

	align-self: center;
	grid-row-start: 4;
  	grid-row-end: 5;

}

	.triangulo {
	width: 0;
	height: 0;
	border-left: 30px solid #FFD100;
	border-bottom:  20px solid transparent;
	border-top:20px solid transparent;
}

	.tria {

	align-self: center;
	grid-row-start: 4;
  	grid-row-end: 5;
	grid-column: 1/2;
}

	.trianguloa {
	width: 0;
	height: 0;
	border-right:  30px solid #FFD100;
	border-bottom:  20px solid transparent;
	border-top:20px solid transparent;

}

	.ref {
	grid-column: 11/13;
	padding-top: 5.75em;
	padding-left: 4.5em;
}

	.img2 {
	width: 30%;
}


	.img3 {
	width: 30%;
}

}




